<div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
        <h2 class="text-center">Restaurant Recommendation System</h2>
    </div>
    <div class="col-4">
        <button href="#" class="btn btn-outline-danger float-end me-5" (click)="logout()">Logout</button>
    </div>
</div>

<div class="container">
    <div class="alert alert-success mt-5" role="alert" *ngIf="loginResponse.isNew">
        <p>Welcome <span class="fw-bold">{{loginResponse.userId}}</span></p>
        Thanks for joining. As you are a new user so the recommendation system cannot suggest any restaurant for you right now. Below are some randomly selected restaurant. If those are familiar to you please put a rating for it. When you submit a rating then our recommendation system will show you some recommended restaurant based on yours community collaboration.  
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p class="h4 mt-5" *ngIf="loginResponse.isNew">List of randomly selected restaurant</p>
            <p class="h4 mt-5" *ngIf="!loginResponse.isNew">List of Recommended restaurant</p>
            <table class="table table-hover mt-5 w-100">
                <thead>
                    <tr>
                        <th *ngIf="!loginResponse.isNew">Rank</th>
                        <th *ngIf="loginResponse.isNew">Id</th>
                        <th>Place Id</th>
                        <th>Cuisine</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of paginationRestaurantData">
                        <td *ngIf="!loginResponse.isNew">{{item.rank}}</td>
                        <td *ngIf="loginResponse.isNew">{{item.id}}</td>
                        <td>{{item.placeId}}</td>
                        <td>{{item.cuisine}}</td>
                        <td>
                            <button class="btn btn-outline-success" (click)="openModal(template, item.placeId)">Rate</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination [totalItems]="restaurantData.length" [itemsPerPage] = "5" (pageChanged)="pageChanged($event)"></pagination>
        </div>
        <div class="col-2"></div>
    </div>
</div>



<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Rating</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Please Rate the restaurant between 1-5</p>
      <rating [max]="5" [(ngModel)]="restaurantRating" [customTemplate]="tt"></rating>
      <div style="color: red;" *ngIf="ratingNotSelected">Select a rating between 1-5</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-default" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-outline-success" (click)="saveModal()">Save Chnages</button>
      </div>
</ng-template>


<div>
    
    <ng-template #tt let-i="index" let-v="value">
      <button class="btn btn-{{i < v ? 'warning' : 'default'}}">
        {{i < v ? '&#9733;' : '&#9734;'}}
      </button>
    </ng-template>
  </div>