
<div class="row mt-5">
  <div class="col-4"></div>
  <div class="col-4">
      <h2 class="text-center">Restaurant Recommendation System</h2>
  </div>
  <div class="col-4">
      
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="mt-5">
                <tabset #staticTabs>
                  <tab heading="Login">
                    <div class="card mt-2" style="width: 26rem;">
                        <div class="card-body">
                            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                                <p class="text-center fw-bold">Login</p>
                                <div class="form-group">
                                  <label>Email/UserId</label>
                                  <input type="email" formControlName="userId" class="form-control" placeholder="Enter email/userid">
                                  <span style="color: red;" *ngIf="lf.userId && lf.userId.invalid && lf.userId.touched">This field is required !</span>
                                </div>
                                <div class="form-group mt-2">
                                  <label>Password</label>
                                  <input type="password" formControlName="password" class="form-control" placeholder="Password">
                                  <span style="color: red;" *ngIf="lf.password && lf.password.invalid && lf.password.touched">This field is required !</span>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-outline-success mt-2 text-center" [disabled]="!loginForm.valid">Login</button>
                                </div>
                                
                              </form>
                        </div>
                    </div>
                  </tab>
                  <tab heading="Registration">
                    <div class="card mt-2" style="width: 26rem;">
                        <div class="card-body">
                            <form [formGroup]="registrationForm" (ngSubmit)="onRegistration()">
                                <p class="text-center fw-bold">Registration</p>
                                <div class="form-group">
                                  <label>Email</label>
                                  <input type="email" formControlName="regUserId" class="form-control" placeholder="Enter email">
                                  <span style="color: red;" *ngIf="rf.regUserId && rf.regUserId.invalid && rf.regUserId.touched">This field is required !</span>
                                </div>
                                <div class="form-group mt-2">
                                  <label>Password</label>
                                  <input type="password" formControlName="regPassword" class="form-control" placeholder="Password">
                                  <span style="color: red;" *ngIf="rf.regPassword && rf.regPassword.invalid && rf.regPassword.touched">This field is required !</span>
                                </div>
                                <div class="form-group mt-2">
                                  <label>Confirm Password</label>
                                  <input type="password" formControlName="regConPassword" class="form-control" placeholder="Confirm Password">
                                  <div style="color: red;" *ngIf="rf['regConPassword'].getError('required')!=null && rf.regConPassword.touched">This field is required !</div>
                                  <div style="color: red;" *ngIf="rf.regConPassword.errors?.confirmedValidator">Password and Confirm Password must be match.</div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-outline-primary mt-2 text-center" [disabled]="!registrationForm.valid">Submit</button>
                                </div>
                              </form>
                        </div>
                    </div>
                  </tab>
                </tabset>
              </div>
        </div>
        <div class="col-4"></div>
    </div>
    
</div>







